<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>打开三维场景</title>
		<link href="Source/Cesium/Widgets/widgets.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="Source/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="Source/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="Source/css/pretty.css">
		<link rel="stylesheet" type="text/css" href="Source/index.css">
	</head>
	<body>
		<!-- <div  style="pointer-events:auto;position: absolute;top: 100px;left: 30px;z-index: 10000;">
			<button type="button" onclick="fuwei()">复位</button>
			<button type="button" onclick="fwjia()">方位加</button>
			<button type="button" onclick="fwjian()">方位减</button>
			<button type="button" onclick="fyjia()">俯仰加</button>
			<button type="button" onclick="fyjian()">俯仰减</button>
			<button type="button" onclick="jljia()">距离加</button>
			<button type="button" onclick="jljian()">距离减</button>
		</div> -->
		<div id="cesiumContainer">

			<div class="container-fluid" id="main" style="position: absolute;top: 0;left: 0;z-index: 2000;pointer-events:none;">
				<div class="row" id="top" style="pointer-events:auto;" oncontextmenu="return false;" ondragstart="return false;"
				 onselectstart="return false;">
					<div class="col-xs-4" id="top_left">
						<ul>
							<li class="moshi">
								<div id="top_left_top">
									<p>当前模式</p>
								</div>
								<div id="top_left_bottom">
									<p>无人值守<a href="#">【切换】</a></p>
								</div>
							</li>
							<li class="myButton">
								<p><a href="#">首页</a></p>
							</li>
							<li class="myButton">
								<p><a href="#">回放</a></p>
							</li>
							<li class="myButton">
								<p><a href="#">取证</a></p>
							</li>
							<li class="myButton">
								<p><a href="#">预案</a></p>
							</li>
						</ul>
					</div>
					<div class="col-xs-4" id="top_center">
						<h2>中核反无人机综合态势软件</h2>
					</div>
					<div class="col-xs-4" id="top_right">
						<ul>
							<li class="date">2019/12/28</li>
							<li class="tianqi"><img src="Source/Images/weather.png" alt=""></li>
							<li class="xingqi">星期六</li>
							<li class="tianqiText">多云</li>
						</ul>
						<ul class="caozuo">
							<li class="alarm"><a href="#" @click="alertWarn()"><img src="Source/Images/alarm.png"><b class="alarmNum">3</b></a></li>
							<li class="user"><a href="#"><img src="Source/Images/USER.png"> <b>admin</b></a></li>
							<li class="tuichu"><a href="#"><img src="Source/Images/tuichu.png"></a></li>
						</ul>
					</div>
				</div>

				<div class="row" id="alarm">
					<div class="col-xs-4"></div>
					<div class="col-xs-4" id="alarmType">
						<ul>
							<li class="alarm1"><b class="tt">打击告警</b><b class="shuzi" style="left: 78%;">{{WarnNum.blowNum}}</b></li>
							<li class="alarm2"><b class="tt">处置告警</b><b class="shuzi">{{WarnNum.disposeNum}}</b></li>
							<li class="alarm3"><b class="tt">警戒告警</b><b class="shuzi">{{WarnNum.warnNum}}</b></li>
							<li class="alarm4"><b class="tt">阵地告警</b><b class="shuzi">{{WarnNum.positionNum}}</b></li>
						</ul>
					</div>
					<div class="col-xs-4"></div>
				</div>

				<div class="row" id="shebei">
					<div class="col-xs-4" id="shebei-left">
						<div class="shebei leida">
							<a href="#" style="pointer-events:auto;" oncontextmenu="return false;" ondragstart="return false;" onselectstart="return false;"><b
								 class="mubiaoNum" v-if="radarArr.length>0">{{radarArr.length}}</b><img src="Source/Images/icon_leida.png" id="leidaImg"
								 style="filter: brightness(0.75);"></a>
							<div class="shebei_left myHide" style="pointer-events:auto;display: none;" oncontextmenu="return false;"
							 ondragstart="return false;" onselectstart="return false;">
                                <div class="shebei_left_top" style="display: none;" id="radarCoverage">
									<button type="button" class="btn btn-success button" data-toggle="button" aria-pressed="false">覆盖区域</button>
								</div>
								<div class="shebei_left_bottom" style="display: none;" id="radarButton">
									<h3>雷达图</h3>
								</div>
								<div class="jiantou_zuo" id="jiantou_zuo_one" style="display: none;"></div>
								<div class="jiantou_you" id="jiantou_you_one"></div>
							</div>
							<div class="shebei_right myLeft" style="pointer-events:auto;display: none;" oncontextmenu="return false;"
							 ondragstart="return false;" onselectstart="return false;">
								<div class="canshu" v-if="radarArr.length>0">
									<h3 style="width: 40%;">经度：</h3>
									<h3 style="width: 25%;color: rgb(225,227,26);margin-left: 0px!important;">{{radarArr[radarIndex].lon}}</h3>
								</div>
								<div class="canshu" v-if="radarArr.length>0" style="margin-left: 8%!important;">
									<h3 style="width: 40%;">纬度：</h3>
									<h3 style="width: 25%;color: rgb(225,227,26);margin-left: 0px!important;">{{radarArr[radarIndex].lat}}</h3>
								</div>
								<div class="canshu" v-if="radarArr.length>0">
									<h3 style="width: 70%;">运行状态：</h3>
									<h3 style="width: 25%;color: rgb(28,235,33);margin-left: 0px!important;">{{radarArr[radarIndex].status}}</h3>
								</div>
								<div class="canshu" v-if="radarArr.length>0" style="margin-left: 8%!important;">
									<h3 style="width: 40%;">辐射：</h3>
									<h3 style="width: 25%;color: rgb(28,235,33);margin-left: 0px!important;">{{radarArr[radarIndex].radiation}}</h3>
								</div>
								<div class="canshu" v-if="radarArr.length>0">
									<h3 style="width: 40%;">增益：</h3>
									<h3 style="width: 25%;color: rgb(187,40,215);margin-left: 0px!important;">{{radarArr[radarIndex].gain}}</h3>
								</div>
								<div class="canshu" v-if="radarArr.length>0" style="margin-left: 8%!important;">
									<h3 style="width: 40%;">模式：</h3>
									<h3 style="width: 25%;color: rgb(235,107,68);margin-left: 0px!important;">{{radarArr[radarIndex].mode}}</h3>
								</div>
								<div v-if="radarArr.length==0" class="zwsj">暂无数据</div>
								<i class="glyphicon glyphicon-chevron-up leida_up" v-if="radarIndex>0" v-on:click="radarIndexJian()"></i>
								<i class="glyphicon glyphicon-chevron-down leida_dowm" v-if="radarIndex<radarArr.length-1" v-on:click="radarIndexJia()"></i>
							</div>
							<div id="radarChart" style="display: none;pointer-events:auto;">
								<div style="height: 10%;color: white;font-size: 20px!important;padding: 5px 15px!important;">
									<h3>雷达图</h3>
								</div>
							</div>

						</div>
						<div class="shebei gd">
							<a href="#" style="pointer-events:auto;" oncontextmenu="return false;" ondragstart="return false;" onselectstart="return false;"><img
								 src="Source/Images/gd.png" id="gdImg"></a>
							<div class="shebei_left myHide" style="pointer-events:auto;display: none;" oncontextmenu="return false;"
							 ondragstart="return false;" onselectstart="return false;">
								<div class="shebei_left_top" style="display: none;">
									<h3>覆盖区域</h3>
								</div>
								<div class="shebei_left_bottom" style="display: none;" id="gdButton">
									<h3>光电图</h3>
								</div>
								<div class="jiantou_zuo" style="display: none;" id="jiantou_zuo_two"></div>
								<div class="jiantou_you" id="jiantou_you_two"></div>
							</div>
							<div class="shebei_right myLeft" style="pointer-events:auto;display: none;" oncontextmenu="return false;"
							 ondragstart="return false;" onselectstart="return false;">
								<div class="canshu" v-if="gdInfo!=''">
									<h3 style="width: 50%;">俯视角：</h3>
									<h3 style="width: 25%;color: rgb(225,227,26);margin-left: 0px!important;">{{gdInfo.overlookAngle}}</h3>
								</div>
								<div class="canshu" v-if="gdInfo!=''" style="margin-left: 8%!important;">
									<h3 style="width: 50%;">方位角：</h3>
									<h3 style="width: 25%;color: rgb(225,227,26);margin-left: 0px!important;">{{gdInfo.azimuth}}</h3>
								</div>
								<div class="canshu" v-if="gdInfo!=''">
									<h3 style="width: 65%;">运行状态：</h3>
									<h3 style="width: 25%;color: rgb(28,235,33);margin-left: 0px!important;">{{gdInfo.status}}</h3>
								</div>
								<div class="canshu" v-if="gdInfo!=''" style="margin-left: 8%!important;">
									<h3 style="width: 40%;">变倍：</h3>
									<h3 style="width: 25%;color: rgb(28,235,33);margin-left: 0px!important;">{{gdInfo.zoom}}</h3>
								</div>
								<div class="canshu" v-if="gdInfo!=''">
									<h3 style="width: 40%;">锁定：</h3>
									<h3 style="width: 25%;color: rgb(187,40,215);margin-left: 0px!important;">{{gdInfo.target}}</h3>
								</div>
								<div class="canshu" v-if="gdInfo!=''" style="margin-left: 8%!important;">
									<h3 style="width: 40%;">识别：</h3>
									<h3 style="width: 25%;color: rgb(235,107,68);margin-left: 0px!important;">{{gdInfo.identify}}</h3>
								</div>
								<div v-if="gdInfo==''" class="zwsj">暂无数据</div>
							</div>
							<div id="gdtu" style="display: none;pointer-events:auto;">
								<div style="height: 10%;color: white;font-size: 20px!important;padding: 5px 15px!important;">
									<h3>光电图</h3>
								</div>
								<img src="Source/Images/jiankong.png">
							</div>
						</div>
						<div class="shebei dzzc">
							<a href="#" style="pointer-events:auto;" oncontextmenu="return false;" ondragstart="return false;" onselectstart="return false;"><b
								 class="mubiaoNum" v-if="ereconArr.length>0">{{ereconArr.length}}</b><img src="Source/Images/dzzc.png" id="dzzcImg"></a>
							<div class="shebei_left myHide" style="pointer-events:auto;display: none;" oncontextmenu="return false;"
							 ondragstart="return false;" onselectstart="return false;">
								<div class="shebei_left_bottom" style="display: none;" id="ereconButton">
									<button type="button" class="btn btn-success button" data-toggle="button" aria-pressed="false">电侦图</button>
								</div>
								<div class="jiantou_zuo" style="display: none;" id="ereconArrowLeft"></div>
								<div class="jiantou_you" id="ereconArrowRight"></div>
							</div>
							<div class="shebei_right myLeft" style="pointer-events:auto;display: none;" oncontextmenu="return false;"
							 ondragstart="return false;" onselectstart="return false;">
								<div class="canshu" v-if="ereconArr.length>0">
									<h3 style="width: 60%;">运行状态：</h3>
									<h3 style="width: 25%;color: red;margin-left: 0px!important;">{{dzArr[ereconIndex].status}}</h3>
								</div>
								<div class="canshu" v-if="ereconArr.length>0" style="margin-left: 8%!important;">
									<h3 style="width: 50%;">方位角：</h3>
									<h3 style="width: 25%;color: rgb(225,227,26);margin-left: 0px!important;">{{dzArr[ereconIndex].azimuth}}</h3>
								</div>
								<div class="canshu" v-if="ereconArr.length>0">
									<h3 style="width: 60%;">发现频段：</h3>
									<h3 style="width: 25%;color: rgb(187,40,215);margin-left: 0px!important;">{{dzArr[ereconIndex].frequency}}GHZ</h3>
								</div>
								<div class="canshu" v-if="ereconArr.length>0" style="margin-left: 8%!important;">
									<h3 style="width: 60%;">目标标志：</h3>
									<h3 style="width: 25%;color: rgb(225,227,26);margin-left: 0px!important;">{{dzArr[ereconIndex].targetSign}}</h3>
								</div>
								<div class="canshu" v-if="ereconArr.length>0" style="width: 90%;padding-top: 0px!important;">
									<h3 style="width: 30%;">发现时间：</h3>
									<h3 style="width: 40%;color: rgb(39,218,159);margin-left: 0px!important;">{{dzArr[ereconIndex].time}}</h3>
								</div>
								<i class="glyphicon glyphicon-chevron-up leida_up" v-if="ereconIndex>0" v-on:click="ereconIndexJian()"></i>
								<i class="glyphicon glyphicon-chevron-down leida_dowm" v-if="ereconIndex<ereconArr.length-1" v-on:click="ereconIndexJia()"></i>
								<div v-if="ereconArr.length==0" class="zwsj">暂无数据</div>
							</div>
						</div>
						<div class="shebei xypj">
							<a href="#" style="pointer-events:auto;" oncontextmenu="return false;" ondragstart="return false;" onselectstart="return false;"><b
								 class="mubiaoNum" v-if="crackerArr.length>0">{{crackerArr.length}}</b><img src="Source/Images/xypj.png" id="xypjImg"></a>
							<div class="shebei_left myHide" style="pointer-events:auto;display: none;" oncontextmenu="return false;"
							 ondragstart="return false;" onselectstart="return false;">
								<div class="shebei_left_bottom" style="display: none;" id="protocolCrackingButton">
									<button type="button" class="btn btn-success button" data-toggle="button" aria-pressed="false">协议破解图</button>
								</div>
								<div class="jiantou_zuo" style="display: none;" id="protocolCrackingArrowLeft"></div>
								<div class="jiantou_you" id="protocolCrackingArrowRight"></div>
							</div>
							<div class="shebei_right myLeft" style="pointer-events:auto;display: none;" oncontextmenu="return false;"
							 ondragstart="return false;" onselectstart="return false;">
								<div class="canshu" v-if="crackerArr.length>0">
									<h3 style="width: 60%;">运行状态：</h3>
									<h3 style="width: 25%;color: rgb(28,235,33);margin-left: 0px!important;">{{xypjArr[crackerIndex].status}}</h3>
								</div>
								<div class="canshu" v-if="crackerArr.length>0" style="margin-left: 8%!important;">
									<h3 style="width: 50%;">方位角：</h3>
									<h3 style="width: 25%;color: rgb(225,227,26);margin-left: 0px!important;">{{xypjArr[crackerIndex].azimuth}}</h3>
								</div>
								<div class="canshu" v-if="crackerArr.length>0" style="width: 62%;">
									<h3 style="width: 53%;">当前发现型号：</h3>
									<h3 style="width: 20%;color: rgb(187,40,215);margin-left: 0px!important;">{{xypjArr[crackerIndex].type}}</h3>
								</div>
								<div class="canshu" v-if="crackerArr.length>0" style="margin-left: -8%!important;width: 29%;">
									<h3 style="width: 81%;">发现频段：</h3>
									<h3 style="width: 10%;color: rgb(225,227,26);margin-left: 0px!important;">{{xypjArr[crackerIndex].frequency}}G</h3>
								</div>
								<div class="canshu" v-if="crackerArr.length>0" style="width: 90%;padding-top: 0px!important;">
									<h3 style="width: 30%;">发现时间：</h3>
									<h3 style="width: 40%;color: rgb(39,218,159);margin-left: 0px!important;">{{xypjArr[crackerIndex].time}}</h3>
								</div>
								<i class="glyphicon glyphicon-chevron-up leida_up" v-if="crackerIndex>0" v-on:click="crackerIndexJian()"></i>
								<i class="glyphicon glyphicon-chevron-down leida_dowm" v-if="crackerIndex<crackerArr.length-1" v-on:click="crackerIndexJia()"></i>
								<div v-if="crackerArr.length==0" class="zwsj">暂无数据</div>
							</div>
						</div>
						<div class="shebei ADS-B">
							<a href="#" style="pointer-events:auto;" oncontextmenu="return false;" ondragstart="return false;" onselectstart="return false;"><b
								 class="mubiaoNum" v-if="adsbArr.length>0">{{adsbArr.length}}</b><img src="Source/Images/ADSB.png" id="ADS-BImg"></a>
							<div class="shebei_left" style="width: 1%;pointer-events:auto;display: none;">

							</div>
							<div class="shebei_right" style="left: 27%;pointer-events:auto;display: none;">
								<div class="canshu" v-if="adsbArr.length>0">
									<h3 style="width: 60%;">运行状态：</h3>
									<h3 style="width: 25%;color: rgb(28,235,33);margin-left: 0px!important;">{{adsbArr[adsbIndex].status}}</h3>
								</div>
								<div class="canshu" v-if="adsbArr.length>0" style="margin-left: 8%!important;">
									<h3 style="width: 60%;">飞机编号：</h3>
									<h3 style="width: 37%;color: rgb(225,227,26);margin-left: -15px!important;">{{adsbArr[adsbIndex].number}}</h3>
								</div>
								<div class="canshu" v-if="adsbArr.length>0" style="width: 62%;">
									<h3 style="width: 53%;">航班号：</h3>
									<h3 style="width: 20%;color: rgb(187,40,215);margin-left: 0px!important;">{{adsbArr[adsbIndex].type}}</h3>
								</div>
								<div class="canshu" v-if="adsbArr.length>0" style="margin-left: -8%!important;width: 42%;">
									<h3 style="width: 40%;">高度：</h3>
									<h3 style="width: 40%;color: rgb(225,227,26);margin-left: 0px!important;">{{adsbArr[adsbIndex].hei}}米</h3>
								</div>
								<div class="canshu" v-if="adsbArr.length>0">
									<h3 style="width: 40%;">经度：</h3>
									<h3 style="width: 25%;color: rgb(28,235,33);margin-left: 0px!important;">{{adsbArr[adsbIndex].lon}}</h3>
								</div>
								<div class="canshu" v-if="adsbArr.length>0" style="margin-left: 8%!important;">
									<h3 style="width: 40%;">纬度：</h3>
									<h3 style="width: 25%;color: rgb(28,235,33);margin-left: 0px!important;">{{adsbArr[adsbIndex].lat}}</h3>
								</div>
								<i class="glyphicon glyphicon-chevron-up leida_up" v-if="adsbIndex>0" v-on:click="adsbIndexJian()"></i>
								<i class="glyphicon glyphicon-chevron-down leida_dowm" v-if="adsbIndex<adsbArr.length-1" v-on:click="adsbIndexJia()"></i>
								<div v-if="adsbArr.length==0" class="zwsj">暂无数据</div>
							</div>
						</div>
					</div>
					<div class="col-xs-4"></div>
					<div class="col-xs-4" style="height: 100%;">
						<div id="mubiao" class="mubiao" style="pointer-events:auto;" oncontextmenu="return false;" ondragstart="return false;"
						 onselectstart="return false;">
							<div style="height: 40px;color: white;padding-left: 15px!important;border-bottom: 1px solid rgb(125,191,215);">
								<h3 style="font-size: 16px!important;font-weight: 600;line-height: 40px;">目标</h3>
							</div>
							<div style="padding: 3% 3%!important;">
								<table border="1" cellspacing="1" cellpadding="1">
									<tr>
										<th style="width: 55%;">编号</th>
										<th style="width: 55%;">距离</th>
										<th style="width: 55%;">速度</th>
										<th style="width: 55%;">经度</th>
										<th style="width: 55%;">纬度</th>
										<th style="width: 55%;">高度</th>
										<th style="width: 100%;">威胁等级</th>
									</tr>
									<tr v-for="t in targetArr">
										<td>{{t.id}}</td>
										<td>{{t.distince}}</td>
										<td>{{t.speed}}</td>
										<td>{{t.lon}}</td>
										<td>{{t.lat}}</td>
										<td>{{t.hei}}</td>
										<td>{{t.level}}</td>
									</tr> 
									<tr v-if="targetArr.length==0">
										<td colspan="7">暂无目标</td>
									</tr>
									
								</table>
							</div>
						</div>
						<div id="chuzhi" style="pointer-events:auto;" oncontextmenu="return false;" ondragstart="return false;"
						 onselectstart="return false;">
							<div style="height: 15%;color: white;padding: 2px 15px!important;margin-top: 7px!important;">
								<button type="button" class="chuzhiBtn xz">处置对象</button>
								<button type="button" class="yuanBtn">预案</button>
							</div>
							<div style="height: 60%;border: 1px solid rgb(20,194,141);width: 96%;margin-left: 3%!important;margin-top: 5px!important;"
							 class="scroll">
								<p>处置001自动模式</p>
								<p>08:01发现目标001，进入5km禁区，一级告警，高度300m，速度20km/s</p>
								<p>未知飞行物</p>
								<p>证据已经保留(点击查看)</p>
								<p>08:01自动执行</p>
								<p>预案，执行定向干扰打击(自动)，点击查看预案文档</p>
								<p>08:05处置完毕，拦截失败</p>
							</div>
							<!-- <div style="height: 15%;color: white;padding: 2px 15px!important;margin-top: 7px!important;">
							<button type="button" class="chuzhiBtn xz2" style="float: right;">上报实保系统</button>
		
						</div> -->
						</div>
						<div id="sbkz" style="pointer-events:auto;" oncontextmenu="return false;" ondragstart="return false;"
						 onselectstart="return false;">
							<div style="height: 15%;color: white;padding: 2px 15px!important;margin-top: 7px!important;">
								<button type="button" class="ytkzBtn xz">云台控制</button>
								<button type="button" class="gpsBtn">GPS控制</button>
								<button type="button" class="dxdjBtn">定向打击</button>
								<button type="button" class="dxdjBtn">强光</button>
							</div>
							<div style="height: 64%;width: 94%;margin-left: 3%!important;position: relative;">
								<div style="width: 50%;height: 100%;margin-left: 30px!important;">
									<!-- <button type="button"><i class="glyphicon glyphicon-arrow-up"></i></button> -->
									<div class="jiantouImg"><img src="Source/Images/tu1.png" width="75%" height="75%"></div>
									<div class="jiantouImg"><img src="Source/Images/tu8.png" width="75%" height="75%" style="transform: rotate(180deg);" onclick="fyjia()"></div>
									<div class="jiantouImg"><img src="Source/Images/tu3.png" width="75%" height="75%"></div>
									<div class="jiantouImg" style="clear: left;"><img src="Source/Images/tu4.png" width="75%" height="75%" onclick="fwjian()"></div>
									<div class="jiantouImg"><img src="Source/Images/tu5.png" width="75%" height="75%" onclick="fuwei()"></div>
									<div class="jiantouImg"><img src="Source/Images/tu6.png" width="75%" height="75%" onclick="fwjia()"></div>
									<div class="jiantouImg"><img src="Source/Images/tu7.png" width="75%" height="75%"></div>
									<div class="jiantouImg"><img src="Source/Images/tu8.png" width="75%" height="75%" onclick="fyjian()"></div>
									<div class="jiantouImg"><img src="Source/Images/tu9.png" width="75%" height="78%"></div>
								</div>
								<div style="width: 40%;height: 100%;" id="tiaozheng">
									<div class="tiaozheng"><b>光圈</b> <img src="Source/Images/jiaohao.png"> <img src="Source/Images/jianhao.png"></div>
									<div class="tiaozheng"><b>变焦</b> <img src="Source/Images/jiaohao.png"> <img src="Source/Images/jianhao.png"></div>
									<div class="tiaozheng"><b>焦距</b> <img src="Source/Images/jiaohao.png" onclick="jljia()"> <img src="Source/Images/jianhao.png" onclick="jljian()"></div>
								</div>
							</div>
							<div>
								<div class="btn-group">
									<label>变倍值</label><select>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10" selected="selected">10</option>
									</select>

									<label>云台速度</label><select>
										<option value="1" selected="selected">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>

									<label>水平速度</label><select>
										<option value="1" selected="selected">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="warnPart" id="warnPart" v-show="alertFlag" style="pointer-events:auto;">
					<h4>告警 
					<span class="closeWarn" @click="closeWarn()">关闭</span>
					<span class="closeWarn" style="margin-right: 15px;">清空</span>
					</h4>
					<div class="select">
						<select>
							<option value="">全部</option>
							<option>打击</option>
							<option>处置</option>
							<option>警戒</option>
							<option>阵地</option>
						</select>
					</div>
					<div class="warnList">
						<ul class="warnLists" id="test">
							<li>
								<div class="imgDiv">
									<img src="Source/Images/warnVideo-140x115.png" alt="">
								</div>
								<span>
									<p>2020-02-18 14:00:00</p>
									<p>打击报警</p>
									<button>处置</button>
								</span>
							</li>
							<li>
								<div class="imgDiv">
									<img src="Source/Images/warnVideo-140x115.png" alt="">
								</div>
								<span>
									<p>2020-02-18 14:00:00</p>
									<p>处置报警</p>
									<button>处置</button>
								</span>
							</li>
							<li>
								<div class="imgDiv">
									<img src="Source/Images/warnVideo-140x115.png" alt="">
								</div>
								<span>
									<p>2020-02-18 14:00:00</p>
									<p>警戒报警</p>
									<button>处置</button>
								</span>
							</li>
							<li>
								<div class="imgDiv">
									<img src="Source/Images/warnVideo-140x115.png" alt="">
								</div>
								<span>
									<p>2020-02-18 14:00:00</p>
									<p>阵地报警</p>
									<button>处置</button>
								</span>
							</li>
							<li>
								<div class="imgDiv">
									<img src="Source/Images/warnVideo-140x115.png" alt="">
								</div>
								<span>
									<p>2020-02-18 14:00:00</p>
									<p>报警类型</p>
									<button>处置</button>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="cesiumdiv" style="display: none;">
			<div id="latlng_show">
				<div>经度：<span id="log_show">0</span></div>
				<div>纬度：<span id="lat_show">0</span></div>
				<div>视角高：<span id="alt_show">0</span>km</div>
				<div>海拔：<span id="elevation_show">0</span></div>
			</div>
		</div>

        <div id='loadingbar' class="spinner">
            <div class="spinner-container container1">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>

		<script src="Source/js/jquery.min.js"></script>
		<script src="Source/js/spectrum.js"></script>
		<script src="Source/js/bootstrap.min.js"></script>
		<script src="Source/js/vue.min.js"></script>
		<script src="Source/js/paho-mqtt.js"></script>
		<script src="Source/js/paho-mqtt-utility.js"></script>
		<script src="Source/Secrets.js"></script>
		<script src="Source/vue-common.js"></script>
		<script src="Source/index.js"></script>
		<script src="Source/toolbox.js"></script>
		<script type="text/javascript" src="Source/js/require.min.js" data-main="Source/js/main"></script>

	</body>
</html>
